<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BotFarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <BotFarm.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>3724</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RealmID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BotsCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Behavior" serializeAs="Xml">
                <value>
                    <BotBehaviorSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <AutoAcceptGroupInvites>true</AutoAcceptGroupInvites>
                    </BotBehaviorSettings>
                </value>
            </setting>
        </BotFarm.Properties.Settings>
    </userSettings>
</configuration>
