<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BotFarm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <BotFarm.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>3724</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Hostname" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="RealmID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RandomBots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxBotsCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MinBotsCount" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MMAPsFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="VMAPsFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="MAPsFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="DBCsFolderPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="Behaviors" serializeAs="Xml">
                <value>
                    <ArrayOfBotBehaviorSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <BotBehaviorSettings>
                            <Name>Default</Name>
                            <Probability>100</Probability>
                            <AutoAcceptGroupInvites>true</AutoAcceptGroupInvites>
                            <AutoAcceptResurrectRequests>true</AutoAcceptResurrectRequests>
                            <AutoResurrect>true</AutoResurrect>
                            <Begger>false</Begger>
                            <FollowGroupLeader>true</FollowGroupLeader>
                            <Explorer>false</Explorer>
                        </BotBehaviorSettings>
                        <BotBehaviorSettings>
                          <Name>Begger</Name>
                          <Probability>0</Probability>
                          <AutoAcceptGroupInvites>false</AutoAcceptGroupInvites>
                          <AutoAcceptResurrectRequests>false</AutoAcceptResurrectRequests>
                          <AutoResurrect>true</AutoResurrect>
                          <Begger>true</Begger>
                          <FollowGroupLeader>false</FollowGroupLeader>
                          <Explorer>false</Explorer>
                        </BotBehaviorSettings>
                        <BotBehaviorSettings>
                          <Name>Explorer</Name>
                          <Probability>0</Probability>
                          <AutoAcceptGroupInvites>false</AutoAcceptGroupInvites>
                          <AutoAcceptResurrectRequests>false</AutoAcceptResurrectRequests>
                          <AutoResurrect>true</AutoResurrect>
                          <Begger>false</Begger>
                          <FollowGroupLeader>false</FollowGroupLeader>
                          <Explorer>true</Explorer>
                        </BotBehaviorSettings>
                    </ArrayOfBotBehaviorSettings>
                </value>
            </setting>
        </BotFarm.Properties.Settings>
    </userSettings>
</configuration>
